<div>
      <a id="{{objection.id}}"></a>
      <h3><a target="_top" href="http://www.bernierebuttals.org?objection={{objection.id}}">🔗</a> 
      <span class ="objection-name" (click)="toggleRebuttals()">{{objection.name}}</span></h3>
      <span class="objection-block" *ngIf="expanded">
        <div [hidden]="!objection.imageLink" class="objection-graphic">
             <a target="_blank" href="{{objection.imageLink}}">
               <img src="{{objection.imageLink}}">
             </a>
             <br>{{objection.imageLabel}}
        </div><br>
        <ul class="container" [sortablejs]="objection.rebuttals" [sortablejsOptions]="options" (update)="updateSortable($event)">
          <li *ngFor="let rebuttal of objection.rebuttals" [ngClass]="{touched: rebuttal.touched}" id="rebuttal-{{rebuttal.id}}">
            <list-rebuttal 
              [rebuttal]="rebuttal" 
              [editable]="editable"
              (onCancel)="objectionActions.cancelRebuttal(rebuttal)" 
              (onEdit)="emitEdit()" 
            ></list-rebuttal>
          </li>
          <li><button class="btn btn-default btn-xs" title="Add" (click)="actions.addRebuttal()" *ngIf="editable">Add</button> </li>
        </ul>
      </span>
</div>