<span *ngIf="editable">
  <span class="drag-handle" (click)="touch()">☰</span>
  <button class="btn btn-default btn-xs" title="edit" *ngIf="!rebuttal.editable"  (click)="edit()">✎</button>
  <button class="btn btn-default btn-xs" title="save" *ngIf="rebuttal.editable"  (click)="save()">💾</button>
  <button class="btn btn-default btn-xs" title="cancel" *ngIf="rebuttal.editable" (click)="cancel()">❌</button> 
</span>

<span *ngIf="rebuttal.editable">
  <input placeholder="Short Name" [(ngModel)]="rebuttal.shortName" type="text">
  <textarea placeholder="Long Name" [(ngModel)]="rebuttal.longName" class="form-control"></textarea>
  <input placeholder="Link" [(ngModel)]="rebuttal.link" type="url" class="form-control">
  <textarea placeholder="Comments" *ngIf="rebuttal.id>0" [(ngModel)]="rebuttal.comments" class="form-control"></textarea>
</span>

 <span *ngIf="!rebuttal.editable">
     <b>{{rebuttal.shortName}}</b>
     <span>{{rebuttal.longName}}</span>
     <a *ngIf="rebuttal.link" target="blank" [href]="rebuttal.link">🔗</a>
     <div>{{rebuttal.comments}}</div>
 </span>