    html {
        margin-right: 50px;
        margin-left: 50px;
    }


    a {
      cursor: pointer; 
    }
    
    .hide {
        display: none;
    }
    
    

/* from RubaXa Sortable */
    .block {
	    opacity: 1;
	    position: absolute;
    }
	.block__list {
		padding: 20px 0;
		max-width: 360px;
		margin-top: -8px;
		margin-left: 5px;
		background-color: #fff;
	}
		.block__list-title {
			margin: -20px 0 0;
			padding: 10px;
			text-align: center;
			background: #5F9EDF;
		}
		.block__list li {cursor: move;}

	.block__list_words li {
		/* background-color: #fff; this is set on the containing li to indicate that it has been touched */
		/*padding: 10px 40px;*/
	}
		.block__list_words .sortable-ghost {
			opacity: 0.4;
			background-color: #F4E2C9;
		}

		.block__list_words li:first-letter {
			text-transform: uppercase;
		}

	.block__list_tags {
		padding-left: 30px;
	}

	.block__list_tags:after {
		clear: both;
		content: '';
		display: block;
	}
		.block__list_tags li {
			color: #fff;
			float: left;
			margin: 8px 20px 10px 0;
			padding: 5px 10px;
			min-width: 10px;
			background-color: #5F9EDF;
			text-align: center;
		}
			.block__list_tags li:first-child:first-letter {
				text-transform: uppercase;
			}


